Repository sdr-enthusiasts/plane-alert-db, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, images, ukraine, twitter, planes, invalid

.github/labeler.yml:

documentation: readme.md
images: plane_images.txt
ukraine: plane-alert-ukraine.csv
twitter: plane-alert-twitter.csv
planes: "*.csv"
invalid:
  - any:
      - "*.csv"
      - "!plane-alert-db.csv"
      - "!plane-alert-pia.csv"
      - "!plane-alert-twitter-blocked.csv"
      - "!plane-alert-ukraine.csv"

Update plane-alert-db.csv
  plane-alert-db.csv
Labels: planes

Update plane-alert-db.csv (#124)
  plane-alert-db.csv
Labels: planes

refactor: update derivative databases.
  plane-alert-civ-images.csv
  plane-alert-civ.csv
  plane-alert-db-images.csv
Labels: planes, invalid

AE2679 Photos
  plane_images.txt
Labels: images

AE49C5 Photos
  plane_images.txt
Labels: images

A6357E Photos
  plane_images.txt
Labels: images

AE68B8 Photos
  plane_images.txt
Labels: images

AB3CD4 Photos
  plane_images.txt
Labels: images

AE048A Photos
  plane_images.txt
Labels: images

A12F83 - New + Photos
  plane-alert-db.csv
  plane_images.txt
Labels: images, planes

Update plane-alert-pia.csv
  plane-alert-pia.csv
Labels: planes

AE2916 Photo
  plane_images.txt
Labels: images

3B9BF1 Photos
  plane_images.txt
Labels: images

Photos (#87)
  plane-alert-db.csv
  plane_images.txt
Labels: images, planes

refactor: update derivative databases.
  plane-alert-civ-images.csv
  plane-alert-civ.csv
  plane-alert-db-images.csv
  plane-alert-gov-images.csv
  plane-alert-mil-images.csv
  plane-alert-pol-images.csv
Labels: planes, invalid

3F6533 Photo
  plane_images.txt
Labels: images

Additional 3F6533 Photos
  plane_images.txt
Labels: images

3F4E27 Photos
  plane_images.txt
Labels: images

3B77E4 Photos
  plane_images.txt
Labels: images

AE123F Photos
  plane_images.txt
Labels: images

AE2208 Photos
  plane_images.txt
Labels: images

AE11C5 Photo
  plane_images.txt
Labels: images

3F9EA0 Photos
  plane_images.txt
Labels: images

fix: restore planepix.txt due to upstream issue
  planepix.txt
Labels: none

Update plane-alert-db.csv
  plane-alert-db.csv
Labels: planes

feat: add missing links
  plane-alert-db.csv
Labels: planes

Update plane-alert-db.csv
  plane-alert-db.csv
Labels: planes

Update plane-alert-db.csv
  plane-alert-db.csv
Labels: planes

Update plane-alert-db.csv (#116)
  plane-alert-db.csv
Labels: planes

refactor: update derivative databases.
  plane-alert-db-images.csv
  plane-alert-gov-images.csv
  plane-alert-gov.csv
  plane-alert-mil-images.csv
  plane-alert-mil.csv
  plane-alert-pol-images.csv
  plane-alert-pol.csv
Labels: planes, invalid

Update plane_images.txt
  plane_images.txt
Labels: images

refactor: add some missing commas
  plane_images.txt
Labels: images

Update plane_images.txt (#118)
  plane_images.txt
Labels: images

refactor: update derivative databases.
  plane-alert-db-images.csv
  plane-alert-gov-images.csv
  plane-alert-mil-images.csv
Labels: planes, invalid

Photos (#126)
  plane_images.txt
Labels: images

refactor: update derivative databases.
  plane-alert-db-images.csv
  plane-alert-mil-images.csv
Labels: planes, invalid

ci: fix check databases script
  plane_images.txt
  scripts/check_main_databases.py
Labels: images

refactor: update derivative databases.
  plane-alert-db-images.csv
  plane-alert-gov-images.csv
  plane-alert-mil-images.csv
Labels: planes, invalid

Add 481050, Various Photos
  plane-alert-db.csv
  plane_images.txt
Labels: images, planes

ci: cache python and change dervative check fail condition
  .github/workflows/check_derivatives_change.yml
  .github/workflows/check_main_databases.yml
  .github/workflows/create_db_derivatives.yaml
Labels: none
