Repository sdr-enthusiasts/plane-alert-db, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, images, ukraine, twitter, planes, invalid

.github/labeler.yml:

documentation: readme.md
images: plane_images.txt
ukraine: plane-alert-ukraine.csv
twitter: plane-alert-twitter.csv
planes: "*.csv"
invalid:
  - any:
      - "*.csv"
      - "!plane-alert-db.csv"
      - "!plane-alert-pia.csv"
      - "!plane-alert-twitter-blocked.csv"
      - "!plane-alert-ukraine.csv"

ci: fix check derivative action
  .github/workflows/check_derivatives_change.yml
Labels: none

ci: fix derivative check action (#129)
  .github/workflows/check_derivatives_change.yml
  .github/workflows/check_main_databases.yml
  .github/workflows/create_db_derivatives.yaml
Labels: none

Update plane-alert-db.csv
  plane-alert-db.csv
Labels: planes

ci: fix check derivatives action
  .github/workflows/check_derivatives_change.yml
Labels: none

ci: fix check derivatives action (#133)
  .github/workflows/check_derivatives_change.yml
Labels: none

ci: improve derivatives check action
  .github/workflows/check_derivatives_change.yml
Labels: none

ci: improve derivatives check action (#135)
  .github/workflows/check_derivatives_change.yml
Labels: none

ci: fix action step run condition
  .github/workflows/check_derivatives_change.yml
Labels: none

ci: fix action step run condition (#136)
  .github/workflows/check_derivatives_change.yml
Labels: none

ci: change derivative check action PR permission
  .github/workflows/check_derivatives_change.yml
Labels: none

ci: change derivative check action PR permission (#137)
  .github/workflows/check_derivatives_change.yml
Labels: none

test
  plane-alert-pol-images.csv
Labels: planes, invalid

ci: try to fix check action permissions
  .github/workflows/check_derivatives_change.yml
Labels: none

ci: try to fix check action permissions (#138)
  .github/workflows/check_derivatives_change.yml
Labels: none

ci: remove contents permission
  .github/workflows/check_derivatives_change.yml
Labels: none

ci: remove contents permission (#140)
  .github/workflows/check_derivatives_change.yml
Labels: none

test
  plane-alert-pol-images.csv
Labels: planes, invalid

ci: add check action test code
  .github/workflows/check_derivatives_change.yml
Labels: none

ci: add check action test code
  .github/workflows/check_derivatives_change.yml
Labels: none

ci: add check action test code
  .github/workflows/check_derivatives_change.yml
Labels: none

test change
  .github/workflows/check_derivatives_change.yml
  plane-alert-gov.csv
Labels: planes, invalid

test
  plane-alert-gov.csv
Labels: planes, invalid

ci: add check action test code
  .github/workflows/check_derivatives_change.yml
Labels: none

ci: change has-changes-action upstream
  .github/workflows/check_derivatives_change.yml
Labels: none

test
  .github/workflows/check_derivatives_change.yml
  plane-alert-pia.csv
Labels: planes

update derivative databases
  .github/workflows/check_derivatives_change.yml
  plane-alert-db-images.csv
  plane-alert-db.csv
  plane-alert-gov-images.csv
  plane-alert-mil-images.csv
  plane-alert-mil.csv
Labels: planes, invalid

incorrect change
  plane-alert-mil.csv
Labels: planes, invalid
