Repository sdr-enthusiasts/plane-alert-db, pull requests merged in 2023-08, with the labels that each got.

#277 add pics for ae119A, ae1198, ae119a
  plane_images.csv
Labels: images

#278 Correct AE267A Photos, Add ABB7DE & AE2F56 Photos
  plane_images.csv
Labels: images

#279 added USAF TH-1s: AE2936-39, AE20BC-F
  plane-alert-db.csv
  plane_images.csv
Labels: images, planes

#280 fix csv
  plane-alert-db.csv
Labels: planes

#281 Removing broken files
  plane-alert-milhuey-images.csv
  plane-alert-milhuey.csv
Labels: planes

#282 Add Photos ABD081 & ABE314 Top Aces
  plane_images.csv
Labels: images

#283 fixpics HC-144s AE2707 AE2708 AE2709 AE270A
  plane_images.csv
Labels: images

#284 Photos for A8BBE1, ABC303, & AE0426. Add Talons - AE63E8, AE63F2, AE63F3, & AE6404. Add AE6CF2 - USAF Gulfstream. Add AE5D2D Sea Dragon. Add AE4D9B Army Parachute Team Twin Otter.
  plane-alert-db.csv
  plane_images.csv
Labels: images, planes

#285 Add AE03F5 - C12U Huron, Priority Air Transport :package: Added 2 Blackhawks, AE0EA7 and AE0E56
  plane-alert-db.csv
  plane_images.csv
Labels: images, planes

#286 Add AE1236 Photos, modify tags for AE5772
  plane-alert-db.csv
  plane_images.csv
Labels: images, planes

#287 Add AE49C2 Photos, Update AAA438 Photos
  plane_images.csv
Labels: images

#288 Add photos for a few random missing planes, update photos for 87C003
  plane_images.csv
Labels: images

#289 Add photos for AE1532, fix registration. Update ADFE98 tags.
  plane-alert-db.csv
  plane_images.csv
Labels: images, planes

#290 pics for aae3ba, ae1748, ae11b1, a64304
  plane_images.csv
Labels: images

#292 Add Aggressors and a Blackhawk
  plane-alert-db.csv
  plane_images.csv
Labels: images, planes

#293 Texas stuff
  plane-alert-db.csv
Labels: planes

#294 NE Patriots Planes
  plane-alert-db.csv
  plane_images.csv
Labels: images, planes

#295 fixed Dolphin pics for AE26Ax, removed bad pics for AE269x
  plane_images.csv
Labels: images

#297 Kotka's additions
  plane-alert-db.csv
  plane_images.csv
Labels: images, planes

#298 ae1197 ae1232 ae1233
  plane_images.csv
Labels: images
