Repository sdr-enthusiasts/plane-alert-db, pull requests merged in 2023-11, with the labels that each got.

#381 AE1E54 Photos
  plane_images.csv
Labels: images

#382 add two tacticool p-8s, fixpics for this DC-3T ACEDC6/n932h
  plane-alert-db.csv
  plane_images.csv
Labels: images, planes

#384 Added and fixed planes and pictures.
  plane-alert-db.csv
  plane_images.csv
Labels: images, planes

#386 Talons: fix pics for ae0044 and ae0042, add pic for ae0038
  plane_images.csv
Labels: images

#388 added 3c0e3d and pics for kx1t
  plane-alert-db.csv
  plane_images.csv
Labels: images, planes

#389 added other Unicair planes 3cd568 and 3ce64e, with pics. fixed owner …
  plane-alert-db.csv
  plane_images.csv
Labels: images, planes

#390 Updated photos for A745E8
  plane_images.csv
Labels: images

#392 Add North Flight Aero Med and West Michigan Air Care
  plane-alert-db.csv
  plane_images.csv
Labels: images, planes

#393 U of M Survival Flight
  plane-alert-db.csv
  plane_images.csv
Labels: images, planes

#394 adding A81B13/N621MM and AC64C6/N898TS
  plane-alert-db.csv
  plane_images.csv
Labels: images, planes

#397 Add AE60D3,168667,United States Marine Corps,Bell MV-22B Osprey
  plane-alert-db.csv
Labels: planes

#399 add pics for ae60d3, fix 4b9030 in plane_images.csv
  plane_images.csv
Labels: images

#400 Add AA5F4C :helicopter: with :framed_picture:
  plane-alert-db.csv
  plane_images.csv
Labels: images, planes
