Repository sdr-enthusiasts/plane-alert-db, pull requests merged in 2023-07, with the labels that each got.

#268 Fix Ukrainian tags, added Cavok Air fleet, added pic for 5082a0
  plane-alert-ukraine.csv
  plane_images.csv
Labels: images, ukraine, planes

#269 Add photos for AE2FA8
  plane_images.csv
Labels: images

#270 N540PA Remove photo of 1984 PanAM 747.
  plane_images.csv
Labels: images

#272 Added pics for ae68b9, ae29da, ae1442, ae1455, ae1423, ae61c0
  plane_images.csv
Labels: images

#273 ae04a9 ae681f ae5f50
  plane-alert-db.csv
  plane_images.csv
Labels: images, planes

#274 pics for ae1102, ae13ff, ae1443, ae08b2, und ae625d
  plane_images.csv
Labels: images

#275 Fixed 3B771* block, correct pics for everyone
  plane_images.csv
Labels: images

#276 Correct AE269A Photos
  plane_images.csv
Labels: images
